.sobre {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100%;
    padding: 5rem 3rem;

    & .about-informations {
        width: 50%;

        & .about-title {
            font-family: "Bebas Neue", sans-serif;

            & .img-title {
                width: 350px;
                margin-bottom: 2rem;
            }

            & h2 {
                color: #fe4130;
                font-size: 5.2rem;
                margin-bottom: 0;
                line-height: 3rem
            }

            & p {
                color: #2f2f2f;
                font-size: 1rem
            }
        }

        & .about-text {
            font-size: 1.2rem
        }
    }
}

.destaque-container {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    & .split-container {
        
        color: #ffffff;
        text-decoration: none;
        background-color: #fe4130;
        min-width: 300px;
        padding: .5rem 3rem;
        border: 2px solid #fe4130;
        border-radius: 1rem;
        cursor: pointer;
        flex: 1;
        box-shadow: 3px 3px 10px -3px #2f2f2f;
        transition: .2s;

        & .destaque-title {
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 1.5rem;
            margin: 0;
        }
    }

    & .split-container:hover {
        filter: brightness(.9);
    }
}

.map {
    width: 1000px;
    height: 450px;
    border-radius: 10px
}

@media (max-width:1255px) {
    .sobre {
        height: 92vh;

        & .about-informations {
            width: 100%;
            text-align: center;

            & .about-title {
                text-align: center;

                & h2 {
                    font-size: 3rem
                }
            }
        }
    }

    form {
        width: 90%
    }
}

@media (max-width:1000px) {
    .map {
        width: 100%;
        height: 50vh
    }
}

@media (max-width: 600px) {

    .sobre {
        margin-bottom: 2rem;
    }

    .destaque-container {

        gap: 1rem;

        & .split-container {
            padding: 1rem 2rem;
        }

        & .servicos-container {
            flex-grow: 1 1 2;
        }

    }
}